@model IEnumerable<HospitalApp.Models.Transaction>


<div class="shadow p-3 jumbotron text-center text-white font-bold" dir="rtl" style="background-color: #4189c7;">
    <h3 class="d-block mb-3 font-bold"><i class="fas fa-book-open"></i> الاستاذ المساعد</h3>
    في الفترة من <span class="border rounded-lg px-2 mx-2 btn-outline-light">@ViewBag.startDate</span>
    الي <span class="border rounded-lg px-2 mr-2 btn-outline-light">@ViewBag.endDate</span>

</div>

<!-- Search Row in the top -->
<div class="container d-flex flex-row mb-2" dir="rtl">
    <form asp-action="LedgerAccounts" class="form-inline col-md-8 pr-0">
        @*<input type="text"  id="AccName" list="accountsData" placeholder="اسم الحساب" />*@
        <select id="accountsData" val="" class="form-control form-control-sm ml-2" name="id">
            @foreach (var item in ViewBag.AccountsData)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span class="form-text ml-2 mr-2"> مـــــن</span>
        <input type="date" name="startDate" value="@ViewBag.startDate" class="form-control form-control-sm ml-2" />
        <span class="form-text ml-2">إلــي</span>
        <input type="date" name="endDate" value="@ViewBag.endDate" class="form-control form-control-sm" />
        <button type="submit" class="btn btn-sm btn-outline-dark mr-2 font-bold" style="cursor:pointer;">
            <i class="fas fa-search"></i> بحث
        </button>
    </form>
    <a class="btn btn-sm btn-outline-secondary mr-auto" asp-controller="Home" asp-action="Index"><i class="fas fa-directions"></i>  للصفحة الرئيسية</a>
</div>

<div class="container mt-3">
    <table class="table table-sm table-hover table-striped text-center table-responsive" dir="rtl">
        <thead class="text-white font-bold" style="background-color: #4189c7;">
            <tr>
                <th>التاريـــخ</th>
                <th>البيـــان</th>
                <th>مدين</th>
                <th>دائن</th>
                <th>الرصيد</th>
                <th>الاجراءات</th>
            </tr>
        </thead>
        <!-- content data in Table -->
        <tbody>
            @foreach (var item in Model.GroupBy(x => x.AccountsTree.Name))
            {
                <tr class="" style="background-color: #C5C5C5;">
                    <td></td>
                    <td colspan="2" class="text-center font-weight-bolder"><u> @item.Key</u></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                decimal? balance = 0;
                @foreach (var itemDTL in item.ToList())
                {
                    <tr>
                        <td style="width:20%;" class="text-secondary">
                            @itemDTL.entriesSerialize.date.ToShortDateString()
                        </td>
                        <td style="width:40%;" class="text-secondary">
                            @itemDTL.entriesSerialize.Description
                        </td>
                        <td>
                            @itemDTL.ValuDebit
                        </td>
                        <td>
                            @itemDTL.ValueCredit
                        </td>
                        @{decimal x = ((itemDTL.ValuDebit ?? 0) - (itemDTL.ValueCredit ?? 0));}
                        <td>
                            @(balance += x)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" asp-action="DetailsJournalLedger" asp-route-id="@itemDTL.SerialNumberId">
                                Details <i class="fas fa-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@section scripts
{
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("select").on("focus", function () {
                $(this).select2({
                    placeholder: "اسم الحساب",
                    autoclose: true
                });
            });
        });
    </script>
}