@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Index";
}

<h3 class="jumbotron p-3 text-center bg-success text-white font-bold"> قيود اليومية <i class="fas fa-layer-group"></i></h3>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary">اضافة قيد جديد <i class="fas fa-plus-circle"></i></a>
</p>
@if (ViewBag.MSGDel != null)
{
    <h4 class="jumbotron p-1 bg-danger">@ViewBag.MSGDel</h4>
}
@if (ViewBag.TransNotSaveMSG != null)
{
    <h4 class="jumbotron p-1 bg-warning">@ViewBag.TransNotSaveMSG</h4>
}
@if (ViewBag.TransSaveMSG != null)
{
    <h4 class="jumbotron p-1 bg-success">@ViewBag.TransSaveMSG</h4>
}
<table class="table table-sm table-striped table-hover text-center" dir="rtl">
    <thead class="bg-success text-white">
        <tr>
            <th>
                رقم القيد
            </th>
            <th>
                تاريخ انشاء القيد
            </th>
            <th>
                @*الحساب الرئيسي*@
            </th>
            <th>
                اسم الحساب
            </th>
            <th>
                مدين
            </th>
            <th>
                دائن
            </th>
            <th>
                الاجراءات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(x => x.entriesSerialize))
        {
            <tr class="text-secondary table-sm font-bold" style="background-color: #C5C5C5;">
                <td>
                    @item.Key.Serial
                </td>
                <td>
                    @item.Key.date
                </td>
                <td colspan="4">
                    @item.Key.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Key.Id" class="btn btn-sm btn-outline-info" > Edit <i class="fas fa-pencil-alt"></i></a>
                    @*<a asp-action="Details" asp-route-id="@item.Key.Serial" class="btn btn-sm btn-outline-success">Details <i class="fas fa-info"></i></a>*@
                    <a asp-action="Delete" asp-route-id="@item.Key.Id" onclick="return confirm('هل انت متاكد من حذف القيد ؟');" 
                       class="btn btn-sm btn-outline-danger"> Delete 
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            @foreach (var trans in item.ToList())
            {

                <tr class="table-sm">
                    <td>
                    </td>
                    <td>
                        @*<i class="fas fa-chevron-left text-secondary" style="color:gray;"></i>=======*@
                        <i class="fas fa-chevron-left text-secondary" style="color:gray;"></i>
                        <i class="fas fa-chevron-left text-secondary" style="color:gray;"></i>
                    </td>
                    <td class="font-bold">
                        @*@trans.AccountsTree.Categories.Name*@
                    </td>
                    <td>
                        @trans.AccountsTree.Name
                    </td>
                    <td>
                        @trans.ValuDebit
                    </td>
                    <td>
                        @trans.ValueCredit
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>